@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
html, body {
	font-family: 'Kanit', sans-serif;
	height: 100%;
	margin: 0;
}
.navbar{
	background-image: url("nav.png");
	height: 80px;
}

.logo{
	width: 70px;
	height: 70px;
}
.btn{
	background-color: #F2E0DF !important; 
	border-color: #F2E0DF !important;
	border-radius: 30px;
	color: #DD8F78 !important;
}
.btn_ins{
	background-color: #F2E0DF !important;
	border-color: #F2E0DF !important;
	border-radius: 30px;
	width: 15%;
}

#footer{
	background-color: #5B5754;
	display: flex;
	justify-content: center;
	align-items: center;

}
#divfooter{
	background-color: #5B5754!important;
}
p1{
	color: #F9F9F9;
}

.create{
	width: 100%;
	height: 88%;
	background-color: #F2E0DF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div1{
	background-color: white;
	width: 85%;
	height: 80%;
	border-radius: 20px;
	padding: 20px;
}
h1{
	font-weight: bold;
}
.btn_color {
	background-color: #DD8F78 !important; 
	border-color: #F2E0DF !important;
	border-radius: 30px;
	color: #F2E0DF !important;
}